body{
  background:linear-gradient( #212529,#0a58ca);
  background-size: cover;
  color: white;
  
  
}

.green{
  background-color: #19d969;
  color: white;
}
.red{
  background: #cb1a1a;
  color: white;
}